.single-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    margin-bottom: 28px;
    padding: 10px;
}
.task-delete-btn{
    height: 30px;
    width: 60px;
}
.task-done{
    text-decoration: line-through;
    color: #333333a8;
}
.task-overdue{
    color: red
}
.task-description{
    color: #333333a8;
}
.lists-menu{
    list-style-type: none;
}
