.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#list-sidebar{
    max-width: 586px;
}

.column{
    padding: 10px 28px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
