.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#list-sidebar{
    margin: 0px;
    padding: 0px;
    max-width: 586px;
}

.list-fixed-sidebar{
    position: fixed;
    height: 100%;
}

.column{
    padding: 10px 28px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
